* {
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    list-style-type: none;
    background-color: rgb(171, 171, 186);
    font-size: x-large;
}

body {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    border: solid black;
    margin: 50px;
    width: 320px;
    height: 600px;
    justify-content: space-evenly;
}

.display {
    padding: 20px;
    border: solid black;
    margin: 10px;
    height: 60px;
    background-color: rgb(122, 120, 120);
}

.keys {
    display: flex;
    flex-wrap: wrap;
}

button {
    height: 60px;
    width: 60px;
    margin: 10px;
    padding: 10px;
}

.clears {
    background-color: rgb(222, 28, 28);
    width: 140px;
}

.numbers {
    background-color: rgb(43, 42, 46);
}

.operators {
    background-color: rgb(45, 28, 177);
}

.equals {
    background-color: green;
    width: 140px;
}
